<button (click)="esconderCadastro()">Cadastro</button>

<div id="divCadastro" class="divCadastro" style="display: none;">
  <table>
    <tr>
      <td><label>Nome </label></td>
      <td><input [(ngModel)]="monitor.nome" name="namebox" id="namebox" /></td>
      <td>
        <button (click)="criarMonitor(monitor)" id="criarMonitor">
          Adicionar
        </button>
      </td>
    </tr>
    <tr>
      <td><label>CPF </label></td>
      <td>
        <input
          type="number"
          [(ngModel)]="monitor.cpf"
          min="0"
          name="cpfbox"
          id="cpfbox"
        />
      </td>
      <td name="msgcpfexistente" *ngIf="cpfDuplicado"> </td>

    </tr>
    <tr>
      <td><label>e-mail </label></td>
      <td>
        <input [(ngModel)]="monitor.email" name="emailbox" id="emailbox" />
      </td>
    </tr>
    <tr>
      <td><label>github </label></td>
      <td>
        <input [(ngModel)]="monitor.github" name="githubbox" id="githubbox" />
      </td>
    </tr>
    <td name="msgcpfvalido" *ngIf="cpfinvalido"></td>
    <td name="emailinvalido" *ngIf="emailinvalido"></td>
  </table>


</div>

<div id="tabelademonitores">
  <table>
    <tr *ngIf="monitores.length > 0">
      <th>Nome</th>
      <th>CPF</th>
      <th>Email</th> 
    </tr>
    <tr *ngFor="let a of monitores; index as i "  name="monitorlist">
      <td name="nomelist">{{ a.nome }}</td>
      <td name="cpflist">{{ a.cpf }}</td>
      <td name="emaillist">{{ a.email }}</td>
      <td><button (click)="removerMonitor(a)">Remover</button></td>
      <td><button (click)="atualizar(a,i)" class = "attButton" id = "attButton">Atualizar</button></td>
      
      
      <div class="divAtualizar" *ngIf = "(!check || atualizando[i]) && a.cpf == attmonitor.cpf"> 
        <tr>
          <th>CPF</th>
          <th>Nome</th>
          <th>Email</th> 
          <th>Github</th>
        </tr>   
        <tr>
          <td>{{a.cpf}}</td>
          <td><input [(ngModel)] ="attmonitor.nome"></td>
          <td><input [(ngModel)]="attmonitor.email" ></td>
          <td><input [(ngModel)]="attmonitor.github"></td>
          <td><button id = "salvarMonitorButton" (click)="atualizarMonitor(attmonitor,a.cpf,i)">Salvar</button></td>
        </tr>
      </div>
    </tr>  
  </table>
</div>

<div id="tabeladealunos">
  <table>
    <tr *ngIf="monitores.length > 0">
      <th>Nome</th>
      <th>Alunos</th>
    </tr>
    <tr *ngFor="let a of monitores">
      <td name="nomelist">{{ a.nome }}</td>
      <td name="alunoslist">{{ a.alunos }}</td>
    </tr>
  </table>
</div>