<table>
  <tr>
    <td><label>Nome </label></td>
    <td><input [(ngModel)]="aluno.nome" name="namebox" id="namebox" /></td>
    <td>
      <button (click)="criarAluno(aluno)" id="criarAluno">Adicionar</button>
    </td>
  </tr>
  <tr>
    <td><label>CPF (apenas numeros)</label></td>
    <td>
      <input
        type="number"
        [(ngModel)]="aluno.cpf"
        min="0"
        name="cpfbox"
        id="cpfbox"
      />
    </td>
    <td *ngIf="cpfduplicado">Já existe um aluno com esse CPF</td>
    <td *ngIf="cpfinvalido">Isso não é um CPF!</td>
  </tr>
  <tr>
    <td><label>e-mail </label></td>
    <td><input [(ngModel)]="aluno.email" name="emailbox" id="emailbox" /></td>
    <td *ngIf="emailinvalido">Isso não é um e-mail!</td>
  </tr>
  <tr>
    <td><label>github </label></td>
    <td>
      <input [(ngModel)]="aluno.github" name="githubbox" id="githubbox" />
    </td>
    <td *ngIf="githubDup">Já existe um aluno com esse Github</td>
  </tr>
</table>

<div id="divCadastro" class="divCadastro" style="display: none;">
  <table>
    <tr>
      <td><label>Nome </label></td>
      <td><input [(ngModel)]="monitor.nome" name="namebox" id="namebox" /></td>
      <td>
        <button (click)="criarMonitor(monitor)" id="criarMonitor">
          Adicionar
        </button>
      </td>
    </tr>
    <tr>
      <td><label>CPF </label></td>
      <td>
        <input
          type="number"
          [(ngModel)]="monitor.cpf"
          min="0"
          name="cpfbox"
          id="cpfbox"
        />
      </td>
      <td name="msgcpfexistente" *ngIf="cpfDuplicado"> </td>
    </tr>
    <tr>
      <td><label>e-mail </label></td>
      <td>
        <input [(ngModel)]="monitor.email" name="emailbox" id="emailbox" />
      </td>
    </tr>
    <tr>
      <td><label>github </label></td>
      <td>
        <input [(ngModel)]="monitor.github" name="githubbox" id="githubbox" />
      </td>
    </tr>
  </table>
  <div class="alert" name="sucessocadastro" *ngIf="inserido">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Monitor inserido com sucesso.
  </div>


</div>

<div id="tabelademonitores">
  <table>
    <tr *ngIf="monitores.length > 0">
      <th>Nome</th>
      <th>CPF</th>
      <th>Email</th> 
    </tr>
    <tr *ngFor="let a of monitores; index as i "  name="monitorlist">
      <td name="nomelist">{{ a.nome }}</td>
      <td name="cpflist">{{ a.cpf }}</td>
      <td name="emaillist">{{ a.email }}</td>
      <td><button (click)="removerMonitor(a)">Remover</button></td>
      <td><button (click)="atualizar(a,i)" class = "attButton" id = "attButton">Atualizar</button></td>
      
      
      <div class="divAtualizar" *ngIf = "(!check || atualizando[i]) && a.cpf == attmonitor.cpf"> 
        <tr>
          <th>CPF</th>
          <th>Nome</th>
          <th>Email</th> 
          <th>Github</th>
        </tr>   
        <tr>
          <td>{{a.cpf}}</td>
          <td><input [(ngModel)] ="attmonitor.nome"></td>
          <td><input [(ngModel)]="attmonitor.email" ></td>
          <td><input [(ngModel)]="attmonitor.github"></td>
          <td><button id = "salvarMonitorButton" (click)="atualizarMonitor(attmonitor,a.cpf,i)">Salvar</button></td>
        </tr>
      </div>
    </tr>  
  </table>
</div>

<div id="tabeladealunos">
  <table>
    <tr *ngIf="monitores.length > 0">
      <th>Nome</th>
      <th>Alunos</th>
    </tr>
    <tr *ngFor="let a of monitores">
      <td name="nomelist">{{ a.nome }}</td>
      <td name="alunoslist">{{ a.alunos }}</td>
    </tr>
  </table>
</div>
